.skills-container {
    display:flex;
    flex-direction: column;
    width: auto;
    height: auto;
    border: 2px black solid;
    padding: 10px;
    margin: 20px;
}

.skill-picker {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    p {
        width: 60px;
        font-size: 1.5rem;
        border: black 2px solid;
        padding: 8px;
        text-align: center;
    }
}